<html>
    <head>
        <title>
            Experiment with Express
        </title>
    </head>
    <body>
        <form method="POST" action="/person">
            Name:&nbsp;<input type="text" id="name" name="name">
            Age:&nbsp;<input type="text" id="age" name="age" >
            <input type="submit" value="Submit">
        </form>
    </body>
</html>